/.htaccess
/administrator/cache/*
/administrator/help/*
/administrator/includes/*
/administrator/logs/*
/administrator/manifests/*
/cache/*
/bin/*
/cli/*
/images/banners/*
/images/headers/*
/images/sampledata/*
/images/joomla*
/images/index.html
/images/powered_by.png
/includes/*
/installation/*
/tmp/*
/configuration.php
/index.php
/joomla.xml
/*.txt
/robots.txt.dist
